@import "tailwindcss";
@plugin "daisyui";
@import "@heroui/styles";

:root {
  /* Override any color variable */
  --accent: oklch(0.7 0.25 260);
  --success: oklch(0.65 0.15 155);
}

button, .btn {
    box-shadow:none !important
}

.swiper-pagination-bullet-active {
    background: #fff !important;
    width: 24px !important;
    border-radius: 4px !important;
}

.swiper-pagination-bullet {
    background: rgba(255, 255, 255, 0.5);
}